[submodule "vim/bundle/lightline.vim"]
	path = vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundle/awesome-vim-colorschemes"]
	path = vim/bundle/awesome-vim-colorschemes
	url = https://github.com/rafi/awesome-vim-colorschemes
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/preservim/nerdcommenter
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = https://github.com/junegunn/rainbow_parentheses.vim
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "vim/bundle/repos/github.com/dein.vim"]
	path = vim/bundle/repos/github.com/dein.vim
	url = https://github.com/Shougo/dein.vim
